{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>
    <p>
    <a href="/MYVERSION/myversion-index">
      Go to the start page - MYVERSION (2024) - using this path for training
  </a>
    </p>
    <p>
      <a href="/NUNJUCKS/start">
          Go to the start page - Nunjucks
      </a>
      </p>
      <p>
      <a href="/HTML/start-html">
        Go to the start page - HTML
  </p>
  <p>
    <a href="/testbutton">
      testing differnt buttons for nic
  </a>
</p>
</div>

{% endblock %}
